@font-face {
    font-family: "FUENTE";
    src: url(./Oswald-VariableFont_wght.ttf);
}
p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    font-family: FUENTE;
}
.texto:first-child {
    font-style: italic;
    font-weight: bold;
    font-family: FUENTE;
}
.texto:nth-child(even) { /*even y odd*/
    color: green;
}

.container {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.container:hover .circle:not(:hover){
    opacity: 0.3;
}