@font-face {
    font-family: proxima;
    src: url(../Sizes_border/ProximaSoft-Bold.ttf);
}

section img {
    margin: 0 10px;
    float: right;
    width: 120px;
}
section p {
    font-family: proxima;
}

footer p {
    font-family: proxima;
}

section {
    background-color: antiquewhite;
    /*overflow: auto;*/
}

.clearfloat {
    clear: both;
}