section {
    color: black;
}
h1 + p {  /*afecta al elemento que precede del elemento*/
    color: blueviolet;
}
section p {
    color: pink;
}
pre, span {
    color: brown;
}
section > blockquote { /*selectores de descendencia*/
    /* referenciar un elemento que es hijo directo de otro elemento. */
    color:blue;
}
blockquote {
    color:aqua;
}
p ~ p { /*selector que afecta a todos los elementos despues del primero elemento*/
    font-size: 20px;
    color: green;
}